#footer {
    color: #d2d1b6;
    padding: 0.5em 1em;
    background-color: #444;
    margin: 1em 0 0 0;
  }
  
  #footer a,
  #footer a:link {
    color: #d2d1b6;
    text-decoration: none;
  }